@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@100;300;400;500;600&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    
}
  .homepage {
    
    color:rgb(255, 0, 34);
    
}

.hp-avt {
    height: 1000px;
    width: 1850px;
    
    
}

.shop-name {
    font-size: 40px;
    font-weight: bolder;
    padding-left: 30%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: -100px;
    color: rgb(17, 4, 4);
    font-family: Rubik Bubbles;
 }   
    

.mecha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    margin-right: 248px;
    margin-left: 190px;
}
.mecha-fig {
height: 500px;
width: 600px;
}

.mecha-description {
    line-height: 40px;
    color:rgb(255, 0, 34);
    
}

.type-figure {
    font-weight: bolder;
    font-size: 30px;
}

.type-info {
    font-weight: 400;
    font-size: 15px;
}

.btn-info {
    margin-top: 15px;
    width: 200px;
    padding: 12px;
    color: white;
    background-color: rgb(236, 163, 73);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 8px;
}
.btn-info:hover {
    transform: scale(1.25);
}
.anime {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    margin-right: 140px;
    margin-left: 140px;
}
.anime-description {
    line-height: 40px;
    color:rgb(255, 0, 34) ;
    margin-right: 150px;
}
.anime-fig {
    height: 600px;
    width: 700px;
}
.name-collect {
    font-size: 20px;
}

.name-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
    background-color: black;
    padding: 20px;
}
.name-fig {
    font-weight: bolder;
    font-size: 40px;
    
}

.present-fig {
    margin-left: 180px;
    margin-right: 180px;
    padding-top: 20px;
}

.fig-pic {
    
    height: 700px;
    width: 550px;
    
}
.fig-pic:hover {
    opacity: 0.8;
    
}
.btn-and-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}

.one-fig-desc{
    color: rgb(35, 118, 206);
    line-height: 30px;
    
}
.one-fig-desc:hover {
    text-decoration: underline;
}
.one-fig-name {
    font-size: 17px;
    
}
.atc-btn {
    padding: 5px 10px;
    background-color: orange;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.atc-btn:hover {
    color: orange;
    background-color: black;
}

.Pre-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 40px;
}
.one-fig-price {
    font-size: 15px
}



.thanhtoan-part {
   color:black;
   border-style: solid;
   border-width: 0.5px;
   padding: 30px 30px;
   background: rgb(169, 167, 167);
   margin: 40px;
   border-left: 0;
   border-top: 0;
   border-bottom: 0;
}
.icon-payment {
    font-size: 30px;
}

.ipay-name {
    font-weight: bolder;
    font-size: 30px;
}
.fig-thantoan {
    margin:100px 160px;
    display: flex;
    flex-direction: row;
    background-color:rgb(169, 167, 167);
    align-items: center;
    justify-content: space-between;
}

/* footer */



@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}
 

@media screen
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}